# Python
xidmet_v2/backend/venv/
xidmet_v2/backend/__pycache__/
xidmet_v2/backend/**/__pycache__/
xidmet_v2/backend/*.pyc
xidmet_v2/backend/*.db
xidmet_v2/backend/uploads/

# Flutter
xidmet_v2/app/.dart_tool/
xidmet_v2/app/.flutter-plugins
xidmet_v2/app/.flutter-plugins-dependencies
xidmet_v2/app/build/

# Deploy secrets
xidmet_v2/deploy/SECRETS.md

# Java heap dumps
*.hprof

# IDE
.idea/
.vscode/
*.iml
